@page
@model WebApp1.Pages.SessionsModel
@{
    ViewData["Title"] = "Sessions";
}
<h2>Your sessions - @Model.LecturerName</h2>

<h4>Upcoming sessions</h4>
<table class="table" style="table-layout:fixed;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UpcomingSessions[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpcomingSessions[0].ClassRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpcomingSessions[0].Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UpcomingSessions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassRoom.Number)
                </td>
                <td>
                    @item.Time.ToString("HH:mm dd.MM")
                </td>
                <td class="text-right">
                    <a asp-page="ViewSession" asp-route-id="@item.ID">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<h4>Past sessions</h4>
<table class="table" style="table-layout:fixed;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PastSessions[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PastSessions[0].ClassRoom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PastSessions[0].Time)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.PastSessions)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassRoom.Number)
                </td>
                <td>
                    @item.Time.ToString("HH:mm dd.MM")
                </td>
                <td class="text-right">
                    <a asp-page="ViewSession" asp-route-id="@item.ID">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>