@page
@model SafeSpace.Pages.Sysadmin.ManageSystemModel
@{
    ViewData["Title"] = "Manage";
}
<h2>Configuration</h2>
<div class="pb-2">
    <a asp-page="ChangeConfig" asp-route-id="1"><div class="btn btn-primary">Edit configuration</div></a>
</div>
<div>
    <p>
        Token duration: <b>@Model.GlobalVariables.TokenExpirationDays days</b>
    </p>
    <p>
        Email regex: <b>@Model.GlobalVariables.EmailSuffix</b>
    </p>
    <p>
        Session duration: <b>@Model.GlobalVariables.SessionDuration minutes</b>
    </p>
    <p>
        Session deleted: <b>@Model.GlobalVariables.SessionExpirationDays days</b>
    </p>
</div>
<hr />

<h2>Admins</h2>
<div class="pb-2">
    <a asp-page="AddAdmin"><div class="btn btn-primary">Add admin</div></a>
</div>
<h6>Link sent to</h6>
<table class="table" style="table-layout:fixed;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationTokens[0].Email)
            </th>
            <th>
                Token active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RegistrationTokens)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.ExpirationTime < DateTime.Now)
                    {
                        <p>False</p>
                    }
                    else
                    {
                        <p>True</p>
                    }
                </td>
                <td class="text-right">
                    <a asp-page="ResendForm" asp-route-id="@item.ID">Resend</a> |
                    <a asp-page="RemoveForm" asp-route-id="@item.ID">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h6>Confirmed admins</h6>
<table class="table" style="table-layout:fixed;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsersOfRole[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UsersOfRole)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-right">
                    <a asp-page="RemoveAdmin" asp-route-id="@item.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>

