@page
@model SafeSpace.Pages.Admin.ManageLecturersModel
@{
    ViewData["Title"] = "Lecturers";
}
<h2>Lecturers</h2>
<div class="pb-2">
    <a asp-page="AddLecturer"><div class="btn btn-primary">Add lecturer</div></a>
</div>
<a asp-page="Sessions">Back</a>
<h4>Registration form sent to</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationTokens[0].Email)
            </th>
            <th>
                Link active
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.RegistrationTokens)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (item.ExpirationTime < DateTime.Now)
                    {
                        <p>False</p>
                    }
                    else
                    {
                        <p>True</p>
                    }
                </td>
                <td class="text-right">
                    <a asp-page="ResendForm" asp-route-id="@item.ID">Resend</a> |
                    <a asp-page="RemoveForm" asp-route-id="@item.ID">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<h4>Lecturers</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UsersOfRole[0].Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UsersOfRole)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="text-right">
                    <a asp-page="RemoveLecturer" asp-route-id="@item.Id">Remove</a>
                </td>
            </tr>
        }
    </tbody>
</table>