@page
@model SafeSpace.Pages.Student.PickSeatsModel
@{
    ViewData["Title"] = "Book a seat";
}
<div class="mb-3">
    <div class="classroom-info">
        <h1>Book a seat</h1>
        <h4>@Model.SessionTitle</h4>
        <h5>@Model.SessionTime</h5>
        <div class="pb-3">
            <a asp-page="SelectSession">Back</a>
        </div>

    </div>
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="white-load" id="white"></div>

    <div class="row m-0">
        @if (Model.SelectedSeat == null)
        {
        <input type="hidden" asp-for="Session.ID" />
        <button type="button" class="btn btn-outline-primary" disabled>
            Confirm
        </button>
        }
        else
        {
        <input type="hidden" asp-for="Session.ID" />
        <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
            Confirm
        </button>
        }
        @if (Model.ConfirmedSeat != null)
        {
        <button type="button" class="btn btn-outline-dark ml-3" data-toggle="modal" data-target="#exampleModal2">
            Cancel reservation
        </button>
        }
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirm your choice</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @if (Model.ConfirmedSeat == null)
                    {
                    <p>
                        Are you sure you want to book this seat?
                    </p>
                    }
                    else
                    {
                    <p>
                        Are you sure you want to change your seat?
                    </p>
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form method="post" class="mb-3">
                        <div class="form-group">
                            <input type="hidden" asp-for="SelectedSeat.ID" value=@Model.SelectedSeatId class="form-control" />
                        </div>
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Cancel reservation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to cancel your reservation?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <form method="post" class="mb-3">
                        <div class="form-group">
                            <input type="hidden" asp-for="SelectedSeat.ID" value=-1 class="form-control" />
                        </div>
                        <input type="submit" value="Confirm" class="btn btn-primary" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="plan-area">
    <div class="floor-plan" style="background-image: url(@Model.BackGroundImage)" id="floorplan">
        <div class="spinner-border text-primary m-5 text-center" style="width: 3rem; height: 3rem; position:relative; z-index: 2;
    left: 100px" role="status" id="spinner">
            <span class="sr-only">Loading...</span>
        </div>
        @foreach (var seat in Model.Seats)
        {
            var routeValues = new Dictionary<string, string>
{
                { "seatId", seat.ID.ToString() },
                { "id", Model.SessNr.ToString() }
                };
        @if (seat.Student.Name == "-")
            {
        <a asp-page="PickSeats" asp-all-route-data="routeValues" class="@((seat.ID == Model.SelectedSeatId ? "square-selected" : "square" ))"
           id="square-@seat.ID" style="--seat-left: @(seat.X)px; --seat-top: @(seat.Y)px;">
            -
        </a>
            }
            else
            {
        <div class="@((seat.Student.Name == User.Identity.Name ? "square-confirmed-user" : "square-confirmed" ))"
             id="square-@seat.ID" style="--seat-left: @(seat.X)px; --seat-top: @(seat.Y)px;">
            @(seat.Student.Name == User.Identity.Name ? (seat.Student.Name).Substring(0, 1).ToUpper() + (seat.Student.Name).Substring(1, 1) : "X")
        </div>
            }
        }
    </div>
</div>

@section scripts{
    <script>
        function getBgUrl(el) {
            var bg = "";
            if (el.currentStyle) { // IE
                bg = el.currentStyle.backgroundImage;
            } else if (document.defaultView && document.defaultView.getComputedStyle) { // Firefox
                bg = document.defaultView.getComputedStyle(el, "").backgroundImage;
            } else { // try and get inline style
                bg = el.style.backgroundImage;
            }
            return bg.replace(/url\(['"]?(.*?)['"]?\)/i, "$1");
        }

        var image = document.createElement('img');
        image.src = getBgUrl(document.getElementById('floorplan'));
        image.onload = function () {
            var spinner = document.getElementById("spinner");
            var white_fg = document.getElementById("white");
            spinner.style.display = "none";
            white_fg.style.display = "none";
        };
    </script>
}
